<!doctype>
<html>
<html lang=eng>
<head>
    <title>kim</title>
</head>
<body>
   <h1>kimkuwatakie</h1>
<nav>
<header>
<h1>kuwatakie</h1>
    <li>Home</li>
    <li>ABOUT</li>
    <li>SERVICES</li>
</nav>
<section>
<p>Friend:
My name is Mark. Please save my number. I am an honest businessman, I treat customers are always sincere and fast, if you need to deal,please feel free to contact me, I am here 24 hours.</p>
<p>Wise to Wise via email, no sepa,if wise says</p>
</section>
</p>
</body>
</html>

