<!doctype>
<html>
<html lang=eng>
<head>
<kimkuwatakie>
<title>kim</title>
</head>
<body>
<h1>kimkuwatakie</h1>
<p1>Friend:
My name is Mark. Please save my number. I am an honest businessman, I treat customers are always sincere and fast, if you need to deal,please feel free to contact me, I am here 24 hours.</p1>
<p2>Wise to Wise via email, no sepa,if wise says</p2>
</p>
</body>
</html>

